.Team .lander {
  padding: 50px 0;
  text-align: center;
}

.Team .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #000
}

h1{
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
